/node_modules/
/dist/
/req/
/gth_*
/integration-tests/workdir/gth_*
/integration-tests/workdir/testreview.md
/integration-tests/workdir/.gsloth.config.json
/integration-tests/workdir-with-profiles/gth_*
/integration-tests/workdir-with-profiles/testreview.md
/integration-tests/workdir-with-profiles/.gsloth.config.json
/docs-generated
.junie
.idea
gaunt-sloth-assistant.iml
.gsloth/.gsloth-settings/jira/
.gsloth/gth_*
/gaunt-sloth.log
/vitest-it.config.js
/vitest-it.config.js.map
req
out/*